<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <title>Directives</title>
    <script src="../jquery.min.js"></script>
    <script src="../angular.min.js"></script>
    <script src="../bootstrap.min.js"></script>
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function ($scope) {
                    $scope.todos = [
                        {action: "Get groceries", complete: false},
                        {action: "Call plumber", complete: false},
                        {action: "Buy running shoes", complete: true},
                        {action: "Buy flowers", complete: false},
                        {action: "Call family", complete: false}
                    ];
                });
    </script>
    <style>
        .odd {background-color: lightcoral}
        .even {background-color: lavenderblush}
    </style>
</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">To Do List</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
               <!-- <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
                    &lt;!&ndash;<td>{{item.action}}</td>
                    <td>{{item.complete}}</td>&ndash;&gt;
                    <td ng-repeat="prop in item"><span ng-if="$first || $last">{{prop}}</span></td>
                </tr>-->
               <tr ng-repeat-start="item in todos">
                   <td>This is item {{$index}}</td>
               </tr>
               <tr>
                   <td>The action is: {{item.action}}</td>
               </tr>
               <tr ng-repeat-end>
                   <td>Item {{$index}} is {{item.complete? '' : "not "}} complete</td>
               </tr>
            </tbody>
        </table>
    </div>
</body>
</html>