<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <title>Directives - Chap 10</title>
    <script src="../jquery.min.js"></script>
    <script src="../angular.min.js"></script>
    <script src="../bootstrap.min.js"></script>
    <link href="../bootstrap.min.css" rel="stylesheet"/>
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function ($scope) {

                    $scope.data = {};

                    $scope.todos = [
                        {action: "Get groceries", complete: false},
                        {action: "Call plumber", complete: false},
                        {action: "Buy running shoes", complete: true},
                        {action: "Buy flowers", complete: false},
                        {action: "Call family", complete: false}
                    ];

                    $scope.buttonNames = ["Red", "Green", "Blue"];

                    $scope.settings = {
                        Rows: "Red",
                        Columns: "Green"
                    };
                });
    </script>
    <style>
        td > *:first-child {
            font-weight: bold;
        }

        tr.Red {background-color: lightcoral;}
        tr.Green {background-color: lightgreen;}
        tr.Blue {background-color: lightblue;}
    </style>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">List</h3>

   <!-- <div class="checkbox well">
        <label>
            <input type="checkbox" ng-model="todos[2].complete" />
            Item 3 is complete
        </label>
    </div>-->

    <div class="row-well">
        <div class="col-xs-6" ng-repeat="(key, val) in settings">
            <h4>{{key}}</h4>
            <div class="radio" ng-repeat="button in buttonNames">
                <label>
                    <input type="radio" ng-model="settings[key]" value="{{button}}">{{button}}
                </label>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Action</th>
            <th>Done</th>
        </tr>
        </thead>
        <tr ng-repeat="item in todos" ng-class="settings.Rows">
            <td>{{$index + 1}}</td>
            <td>{{item.action}}</td>
            <td ng-style="{'background-color': settings.Columns}">{{item.complete}}</td>
            <!--<td>
                &lt;!&ndash;<span ng-hide="item.complete">(Incomplete)</span>
                <span ng-show="item.complete">(Done)</span> &ndash;&gt;&lt;!&ndash;CSS style does not apply since the item above (first child) in the DOM is only hidden not removed&ndash;&gt;

                <span ng-if="!item.complete">(Incomplete)</span>
                <span ng-if="item.complete">(Done)</span>
            </td>-->
        </tr>
    </table>
</div>
</body>
</html>